*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #00008bcb;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.wrapper .loader{
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.loader .loading {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 0.8s ease infinite;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;


    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-animation: load 0.8s ease infinite;
}
.loader .loading.One {
    animation-delay: 0.3s;
    
}

.loader .loading.Two {
    animation-delay: 0.4s;
    
}

.loader .loading.Three {
    animation-delay: 0.5s;
    
}




@keyframes load {
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }

}